body {
    font-family: 'Playfair Display', serif;
}

/* ----- Style af navigation og header----- */
nav {
    padding-top: 10px;
    margin: 0;
}

#header_top {
    font-size: 3rem;
}

#header_bottom a {
    font-size: 1.2rem;
    margin: 1rem 1.6rem;
}

#header_bottom {
    background: rgba(255, 255, 255, 0.4)
}

#header {
    font-family: 'Playfair Display', serif;
    width: 100%;
    text-align: center;
}

h2 {
    text-align: center;
}

header a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

img {
    width: 100%;
    object-fit: cover;
    padding-top: 1rem;
}

.billeder {
    padding: 1rem;
}

body {
    /* søg på google: dark wallpaper high resolution */
    /* Responsive sizer */
    background-image: url(../billeder/forside.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.wrapper1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

/* Ikke medtag dette i kopi */
h3 {
    font-size: 1.3rem;
}

#videocontainer2 {
    display: none;
}

#arrow1 {
    width:  50px;
}

#arrow2 {
    width: 50px;
}

.emne {
    font-size: 1.7rem;
}

.txtcontainer {
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    margin: 1rem;
    line-height: 160%;
}

.overskrift {
    text-align: center;
}

.liste {
    font-size: 1.2rem;
    padding: 0.5rem;
}

li:not(:last-child) {
    margin-bottom: 1rem;
}

.videocontainer {
    text-align: center;
    padding-top: 1rem;
    margin: 1rem;
    margin-top: 0rem;
}

@media (max-width:1200px) {
    .wrapper1 {
        display: grid;
        grid-template-columns: none;
    }

    .videocontainer {
        object-fit: cover;

    }

    .billeder {
        width: 100%;
    }
}

.ab {
    width: 0px;
}

@media (min-width:1200px) {

    .a {
        width: 100px;
        height: 100px;
    }

    .ab {
        position: absolute;
        width: 0px;
        -webkit-transition: width 0.3s linear 0s;
        transition: width 0.3s linear 0s;
        z-index: 10;
    }

    .a:hover + .ab {
        width: 400px;
    }
}

video {
    padding-top: 1rem;
}

#arrow1 {
    position: absolute;
    z-index: 1;
}

#arrow2 {
    position: absolute;
    z-index: 1;
}

.txt5 {
    padding-top: 12px;
}

video {
    height: 857px;
}

h4 {
    font-size: 1.5rem;
}

.media2 {
        background: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    margin: 1rem;
}
